.dropdown{
  color:black;
  background-color: white;
  position: absolute;
  z-index: 3;
  width: 80px;
  bottom: -50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  left: 50%;
  transform: translate(-50%, 0);
}
.list-item{
  margin:5px;
}
.list-item:hover{
  background-color: #cfcdcd;
}
@media (width<=540px){
  .dropdown{
    left: 10px;
  }
}
@media (width<=300px){
  .dropdown{
    left: -5px;
  }
}