.add-books{
  button{
    background-color: #182b5b;
    color:white;
    border: 0px;
    padding: 10px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 10px;
  }
  display: flex;
  justify-content: center;
  margin: 20px 20px 20px 20px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 20px 20px 20px 20px;
  gap: 20px;
}
app-book{
  border: 0.5px solid grey;
 }