button{
  background-color: #182b5b;
  color:white;
  border: 0px;
  white-space: nowrap;
  width:100%;
}
.btn1{
  border-radius:8px;
  padding:10px 15px;
  padding-right: 25px;
  position: relative;
}

.triangle{
  position: absolute;
  border: 5px solid transparent;
  border-bottom: 0;
  border-top: 10px solid white;
  height:0px;
  width:0px;
  top: 14px;
  right: 10px;
}

.button-container-1{
  display:flex;
  flex-direction: row;
  align-items: center;
  position:relative;
}
.dropdown{
  position:absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:100%;
  top:35px;
  z-index:2;
  background-color: white;
}
.list-item{
  margin:5px;
}
.list-item:hover{
  background-color: #cfcdcd;
}


