<div class="window">
  <div class="text-1">Set your new password</div>
    <form (ngSubmit)="onPasswordSend()" class="input-container" #newPasswordForm="ngForm">
      <input placeholder="password" type="password" name="password1" ngModel required #fpass1="ngModel">
      <div><small *ngIf="fpass1.invalid && fpass1.touched">*Password is the required field</small></div>
      <input placeholder="password" type="password" name="password2" ngModel required #fpass2="ngModel">
      <div><small *ngIf="fpass2.invalid && fpass2.touched">*Password is the required field</small></div>
      <div><small *ngIf="(fpass2.value != fpass1.value) && fpass2.touched ">*Passwords should be the same</small></div>
      <input type="submit" value="Submit" class="btn-3" [disabled]="!newPasswordForm.valid">
    </form>
</div>