<div class="container">
  <div class="img-container">
    <img class="img" [src]="comment?.comment_user_img" [alt]="comment?.comment_user_img">
    <p>{{comment?.comment_user_login}}</p>
    <p class="date">{{comment?.comment_date}}</p>
  </div>
  <div class="comment-container">
    <ng-container *ngFor="let c of comment?.comment_text">
    <div>&nbsp;&nbsp;{{c}}</div></ng-container>
    <div class="oper">
      <div (click)="deleteComm()" class="delete" underlineD pointerD *ngIf="belongToUser">Delete</div>
      <div (click)="editComm()" class="edit" underlineD pointerD *ngIf="belongToUser">Edit</div>
    </div>


  </div>
</div>
