.container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
.img-container{
  text-align: center;
}
.img{
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
p{
  margin: 0px;
}
.comment-container{
  width: 400px;
  position: relative;
}
.date{
  font-style:italic;
  color: grey
}
.oper{
  font-size: 0.8em;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.delete{
  color: rgb(150, 20, 20);
}
.edit{
  color: rgb(2, 104, 2);
}
@media (width<=600px){
  .container{
    box-sizing: border-box;
    width:100%;
  }
  .comment-container{
    width:100%;

  }
}
