.wrapper{
  background-color: #0b193c;
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  position: sticky;
  top:0px;
  gap:20px;
  z-index: 3;
}
.content{
  display: flex;
  align-items: center;
  position: relative;
  gap:20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}
@media (width<=815px){
  .wraper{
    gap:0px;
  }
}
@media (width<=530px){
  .content{
    margin:0px;
  }
}
@media (width<=414px){
  .content{
    gap:5px;
  }
  .wrapper{
    gap:5px;
  }
}







