<div  class="quotes-container">
  <div class="label">Quotes from
    <span underlineD pointerD routerLink="/books/{{this.book?._id}}">
      {{book?.book_name}}
    </span> , by
   <span routerLink="/authors/{{author}}"
    *ngFor="let author of book?.book_authors" pointerD underlineD>
    {{author}}
    </span>
  </div>
  <div class="user-quote" *ngIf="logInService.user && showCommentField">
    <textarea class="textarea" placeholder="Write the quote..." name="user-quote"
    cols="50" rows="10" [(ngModel)]="q"></textarea>
    <input type="text" [(ngModel)]="q_by">
    <button opacityD pointerD (click)="postQuote()">Submit</button>

  </div>
  <app-btn-add *ngIf="logInService.user" (visibilityChange)="changeVisibility($event)" [currentState]="showCommentField"></app-btn-add>

  <div *ngIf="!logInService.user">
    <div class="no-quote">Only authorised users can leave quotes in this section. Sign in to continue!</div>
  </div>
  <div *ngIf="quotes.length==0">
    <div class="no-quote">No quotes here right now. Add some yourself!</div>
  </div>
  <hr *ngIf="quotes.length>0">
  <div class="quotes">
    <app-quote *ngFor="let q of quotes" [quote]="q" (reloadQuotes)="reloadQuotes()"
      [belongToUser]="this.logInService.user?._id == q.quote_user">
    </app-quote>
  </div>

  <hr *ngIf="quotes.length>0">
</div>
