.quotes-container{
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div{
  margin: 10px;
  overflow-wrap: break-word
}
.no-quote{
  font-style: italic;
  color: grey;
}
button{
  background-color: #182b5b;
  color:white;
  border: 0px;
  white-space: nowrap;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}
.user-quote{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
textarea{
  padding: 10px
}
input{
  height:12px;
  font-size: 0.7em;
  font-style: italic;
  padding: 2px;
  font-weight: bold;
}
hr{
  width: 80%;
  color: gray
}
.quotes{
  justify-content: flex-end;
}
.label{
  width: 100%;
  font-size: 1.2em;
  font-weight: bolder;
  text-align: start;
}
app-btn-add{
  margin-bottom: 20px;
  margin-top: 20px;
}