.wrapper{
  background-color: white;
  padding:20px;
  width:250px;
  height: auto;
  .book-img{
    width:200px;
    height:250px;
    padding: 10px;
  }
}
.book{
  font-weight: bolder;
  font-size: 1.1em;
  box-sizing: border-box;
  margin:10px;
}
.author{
  color: grey;
  box-sizing: border-box;
  margin:10px;
}

.img-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0px;
}

// img.saved{
//   width:25px;
//   margin-right: 20px;
// }
button{
  background-color: #182b5b;
  color:white;
  border: 0px;
  white-space: nowrap;
}
.btn-container{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
app-btn-read{
  margin:5px;
}
@media (width<=320px){
  .wrapper{
    padding: 5px;
    img.book-img{
      width:100px;
      height:150px;
    }
  }

}
@media (width<=300px){
  app-rate{
    display:none;
  }
  .wrapper{
    width:200px;
  }
}



