<div class="wrapper">
  <div class="main">
    <div class="img-container">
      <img routerLink="/books/{{this.book?._id}}" pointerD class="book-img"
        src="{{this.book?.book_img}}" alt="{{this.book?.book_name}}">
      <app-btn-read [book]="book"></app-btn-read>
      <div class="book" routerLink="/books/{{this.book?._id}}" >
          {{this.book?.book_name}}
      </div>
        <div class="author">
        <span underlineD pointerD routerLink="/authors/{{author}}"
                  *ngFor="let author of this.book?.book_authors">
                  {{author }}
                </span>
      </div>
      <!-- <div *ngIf="book?.book_series?.length!== 0">
        Series:
        <span pointerD underlineD *ngFor="let s of book?.book_series">{{s }} </span>
      </div>
      <div>Year: {{this.book?.book_edition_year}}</div> -->
      <app-rate [rate]="book?.book_average_rate || 0" [book]="book"></app-rate>
      <!-- <div class="text">
        <ng-container *ngFor="let par of this.book?.book_description; let i = index">
          <p *ngIf="i==0">
            &nbsp;&nbsp; {{par}}
          </p>
        </ng-container>
      </div> -->





      <!-- <div class="btn-container">
        <button pointerD opacityD class="btn-3" routerLink="/books/{{this.book?._id}}">
          Learn more
        </button>
      </div> -->
    </div>


</div>
