.wrapper{
  background-color: white;
  padding:20px;
  max-width:600px;
  min-height:200px;
  border-radius:10px;
  border: 0.5px solid grey;
}
.btn-3{
  font-size: 1.3em;
  padding: 10px;
  border-radius: 8px;
  width:max-content;
}
.img-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0px;
  float:left;
}
.book-img{
  width:150px;
  height:200px;

  padding-left: 20px;
  padding-right: 20px;

}
img.saved{
  width:25px;
  margin-right: 20px;
}
button{
  background-color: #182b5b;
  color:white;
  border: 0px;
  white-space: nowrap;
}
.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
app-btn-read{
  margin:5px;
}
@media (width<=545px){
  .img-container{
    width: 100%
  }
}
@media (width<=350px){
  app-rate{
    display:none;
  }
  .wrapper{
    padding:5px;
  }
}



