
<div class="container" *ngIf="author; else noAuthor">
  <app-loader *ngIf="showLoader"></app-loader>
  <p class="name">{{author.author_name}}</p>
  <div class="img-container">
    <img [src]="author.author_img" [alt]="author.author_img">
    <ng-container *ngFor="let par of author.author_biography">
      <p>&nbsp;&nbsp;{{par}}</p>
    </ng-container>
  </div>
  <div class="book-container">
    <ng-container *ngFor="let bs of seriesBooks">
      <div class="series">Series: {{bs.series}}
        <hr>
      </div>
      <app-book *ngFor="let book of bs.books" [book]="book"></app-book>
    </ng-container>
    <ng-container *ngFor="let book of books; index as i">
      <p *ngIf="i==0" class="series"> No series </p>
      <app-book  [book]="book"></app-book>
    </ng-container>

  </div>
</div>
<ng-template #noAuthor>
  <p *ngIf="!showLoader" class="no-author">Sorry, this author has not been uploaded yet</p>
</ng-template>
