<div class=wrapper (click)="visibilityService.showRegistrationForm=false"></div>
<div class="window">
  <div class="text-1">Registration</div>
  <div class="input-container">
    <input placeholder="email" type="text" [(ngModel)]="email">
    <input placeholder="login" type="text" [(ngModel)]="login">
    <input placeholder="password" type="password" [(ngModel)]="password1">
    <input placeholder="password" type="password" [(ngModel)]="password2">
  </div>
  <div class="button-container">
    <button class="btn-3" (click)="onRegistrationSend()">Register</button>
  </div>


  <div class="cross-container" (click)="visibilityService.showRegistrationForm=false">
    <img src="assets/cross.png" alt="cross">
  </div>

</div>
