.slider{
  margin-top: 20px;
  margin-bottom: 20px;
}
.book-row{
  display:flex;
 flex-direction: row;
 gap:20px;
 flex-wrap:wrap;
 padding:40px;
 align-items: center;
 justify-content: center;
}
.no-results{
  font-style: italic;
}

.add-books{
  button{
    background-color: #182b5b;
    color:white;
    border: 0px;
    padding: 10px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 10px;
  }
  display: flex;
  justify-content: center;
  margin: 0 20px 20px 20px;
}