<div *ngIf="filterService.val!==''" class="container">
  <div (click)="onclick('all')"
  [ngClass]="{'chosen': chosen === 'all'}">
    {{"All("+ filterService.results['all'].length+")"}}
  </div>
  <div (click)="onclick('book_name')"
  [ngClass]="{'chosen': chosen === 'book_name'}">
    {{"By name("+ filterService.results['byName'].length+")"}}
  </div>
  <div (click)="onclick('book_authors')"
  [ngClass]="{'chosen': chosen === 'book_authors'}">
    {{"By author("+ filterService.results['byAuthor'].length +")"}}
  </div>
  <div (click)="onclick('book_description')"
  [ngClass]="{'chosen': chosen === 'book_description'}">
    {{"By description("+ filterService.results['byDescription'].length+")"}}
  </div>
  <div (click)="onclick('book_keywords')" [ngClass]="{'chosen': chosen === 'book_keywords'}">
    {{"By keywords("+ filterService.results['byKeyWords'].length +")"}}
  </div>
  <div (click)="onclick('book_genres')" [ngClass]="{'chosen': chosen === 'book_genres'}">
    {{"By genres("+ filterService.results['byGenres'].length +")"}}
  </div>
</div>
