<div *ngIf="filterService.val!==''" class="container">
  <div (click)="onclick('all')"
  [ngClass]="{'chosen': chosen === 'all'}">
    {{"All("+ filterService.searchChosen.all+")"}}
  </div>
  <div (click)="onclick('name')"
  [ngClass]="{'chosen': chosen === 'name'}">
    {{"By name("+ filterService.searchChosen.byName+")"}}
  </div>
  <div (click)="onclick('authors')"
  [ngClass]="{'chosen': chosen === 'authors'}">
    {{"By author("+ filterService.searchChosen.byAuthor +")"}}
  </div>
  <div (click)="onclick('description')"
  [ngClass]="{'chosen': chosen === 'description'}">
    {{"By description("+ filterService.searchChosen.byDescription+")"}}
  </div>
  <div (click)="onclick('keywords')" [ngClass]="{'chosen': chosen === 'keywords'}">
    {{"By keywords("+ filterService.searchChosen.byKeyWords +")"}}
  </div>
  <div (click)="onclick('genres')" [ngClass]="{'chosen': chosen === 'genres'}">
    {{"By genres("+ filterService.searchChosen.byGenres +")"}}
  </div>
</div>
