.container{
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items:center;
  position: relative;
  width: 100%;
}
.search-img{
  margin-top: 3px;
  max-width: 20px;
  height: auto;
}
.input{
  height:12px;
  font-size: 0.7em;
  font-style: italic;
  padding: 2px;
}

.button{
  background-color: #0b193c;
  border: 0px solid white;
  border-radius: 8px;
  padding: 0px 2px;
  margin-left: -10px
}
input[type=text] {
  width: 110px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 160px;
}

@media (width<=815px){
  input[type=text] {
    width: 190px;
  }
  input[type=text]:focus {
    width: 190px;
  }
}
@media (width<=445px){
  input[type=text] {
    width: 100px;
  }
  input[type=text]:focus {
    width: 100px;
  }
}