<app-edit-comment *ngIf="editComment" [comm]="commToEdit" (closeWindow)="close()" (editedText)="updateComm($event)"></app-edit-comment>
<app-header></app-header>
<div class="container">
  <app-loader *ngIf="showLoader"></app-loader>
  <div class="img-container">
    <img [src]="book?.book_img" [alt]="book?.book_name">
    <app-btn-read [book]="book"></app-btn-read>
  </div>
  <div class="description-container">
    <div routerLink="/books/{{this.book?._id}}">
      <span class="name">
        {{this.book?.book_name}}
      </span>
    </div>
    <div>
      <span underlineD pointerD routerLink="/authors/{{author}}"
          *ngFor="let author of this.book?.book_authors">
          {{author}}
      </span>
    </div>
    <div *ngIf="book?.book_series?.length!== 0">
      Series:
      <span pointerD underlineD *ngFor="let s of book?.book_series">{{s}}</span>
    </div>
    <div> <span> Year: {{this.book?.book_edition_year}}</span></div>
    <app-rate *ngIf="screenWidth" [rate]="book?.book_average_rate || 0" [book]="book"></app-rate>
    <p *ngFor="let par of this.book?.book_description">&nbsp;&nbsp;{{par}}</p>
  </div>

</div>
<hr>
<div class="comments-container">
  <div class="user-comment" *ngIf="logInService.user && showCommentField">
    <textarea class="textarea" placeholder="Write your comment..." name="user-comment"
    cols="50" rows="5" [(ngModel)]="comm"></textarea>
    <button opacityD pointerD (click)="postComment()">Submit</button>
  </div>
  <app-btn-add  *ngIf="logInService.user" (visibilityChange)="changeVisibility($event)" [currentState]="showCommentField"></app-btn-add>

  <div *ngIf="!logInService.user">
    <div class="no-comment">Only authorised users can leave comments in this section. Sign in to continue!</div>
  </div>
  <app-comments *ngFor="let com of comments" [comment]="com" (commDeleted)="reloadComms()"
      (commEdit)="editComm($event)"
      [belongToUser]="logInService.user?._id==com.comment_user">
  </app-comments>
  <div *ngIf="comments.length==0" class="no-comment">Sorry, no comments on this section right now!</div>
</div>