.container{
  max-width: 1000px;
  margin: auto auto;
}
.img-container{
  padding:15px;
  float: left;
}
img{
  width: 220px;
  height: 320px;
}
.name{
  font-size: 1.2em;
}
.description-container{
  padding:30px;
}
*{
  font-size: 18px;
}
hr{
  color: grey;
  margin: auto;
  width: 80%;
}
.comments-container{
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textarea{
  margin-bottom: 30px;
}
div{
  margin: 15px;
  overflow-wrap: break-word
}

button{
  background-color: #182b5b;
  color:white;
  border: 0px;
  white-space: nowrap;
}
button:hover{
  opacity: 0.8;
}
.btn1{
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
  height:35px;
  padding:10px;
}
.btn2{
  height:35px;
  padding:10px;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  position: relative;
}
.triangle{
  border: 5px solid transparent;
  border-top: 10px solid white;
  position: absolute;
  top: 2px;
  left: -11px;
  height:0px;
  width:0px;
}

.button-container-1{
  display:flex;
  flex-direction: row;
  align-items: center;
  position:relative;
}
.dropdown{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position:absolute;
  left:-15px;
  width:100%;
  top:35px;
  z-index:2;
  background-color: white;
}
.list-item{
  margin:5px;
}
.list-item:hover{
  background-color: #cfcdcd;
}

.btn-3{
  font-size: 1.3em;
  padding: 10px;
  border-radius: 8px;
  width:max-content;
}
.button-container-0{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  margin-top:0px;
  gap:25px;
}
