.container{
  max-width: 1000px;
  margin: auto auto;
}
.img-container{
  padding:15px;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
img{
  width: 220px;
  height: 320px;
}
.name{
  font-size: 1.2em;
}
.description-container{
  padding:30px;
}
*{
  font-size: 18px;
}
hr{
  color: grey;
  margin: auto;
  width: 80%;
}
.comments-container{
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div{
  margin: 10px;
  overflow-wrap: break-word
}
.no-comment{
  font-style: italic;
  color: grey;
}
button{
  background-color: #182b5b;
  color:white;
  border: 0px;
  white-space: nowrap;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}
.user-comment{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

