.container{
  max-width: 1000px;
  margin: auto auto;
}
.img-container{
  padding:15px;
  float: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
img{
  width: 220px;
  height: 320px;
}
.name{
  font-size: 1.2em;
}
.description-container{
  padding:30px;
}
*{
  font-size: 18px;
}
hr{
  color: grey;
  margin: auto;
  width: 80%;
}
.comments-container{
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textarea{
  margin-bottom: 30px;
}
div{
  margin: 10px;
  overflow-wrap: break-word
}

