<div class=wrapper (click)="visibilityService.showSignForm=false"></div>
<div class="window">
  <div class="text-1">Sign in</div>
    <form class="input-container" (ngSubmit)="onSignInClick()" #signForm="ngForm">
      <input placeholder="email" type="text" name="email" ngModel required email #femail="ngModel">
      <div><small *ngIf="femail.invalid && femail.touched">*Email is the required field</small></div>
      <input placeholder="password" name="password" ngModel type="password" required #fpass="ngModel">
      <div><small *ngIf="fpass.invalid && fpass.touched">*Password is the required field</small></div>
      <input type="submit" value="Submit" class="btn-3" [disabled]="!signForm.valid">
    </form>


  <div class="text-2">Don't have an account?</div>
  <div class="text-3"
  (click)="openRegistrationWindow()" pointerD>Register now</div>
  <!-- <div class="button-container">
    <button class="btn-3" (click)="onSignInClick()">
      Sign in
    </button>
  </div> -->
  <div class="cross-container" (click)="visibilityService.showSignForm=false">
    <img src="assets/cross.png" alt="cross">
  </div>

</div>
