<div class="container" *ngIf="openForm">
  <div>Set up your recommendation algorithm!</div>
  <div>State your agreement with the statement in 0 to 5 range, where 0 means not at all and 5 - strongly agree</div>
  <div class="item-container">
    <label>I would like to be recommended the same authors I have already liked</label>
    <input #form #author type="number" min="0" max="5" (input)="validateInput(author)" value="0">
  </div>
  <div class="item-container">
    <label>I would like to be recommended books with the same keywords, I have already liked</label>
    <input #form #keyword type="number" min="0" max="5" (input)="validateInput(keyword)" value="0">
  </div>
  <div class="item-container">
    <label>I would like to be recommended books with the same genres, I have already liked</label>
    <input #form #genre type="number" min="0" max="5" (input)="validateInput(genre)" value="0">
  </div>
  <div class="item-container">
    <label>I would like to get user-defined recommendation</label>
    <input #form #user type="number" min="0" max="5" (input)="validateInput(user)" value="0">
  </div>
  <button ponterD opacityD (click)="submit()">Submit</button>

</div>
<div class="btn-container">
  <button *ngIf="!openForm" (click)="openForm=!openForm" ponterD opacityD>Set up recommendations</button>
  <button *ngIf="openForm" (click)="openForm=!openForm" ponterD opacityD>Close</button>
</div>

