.logo{
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  text-align:center;
  flex-direction: row;
  row-gap: 20px;
  width:fit-content;
  padding: 10px;
  .label{
    color:white;
    font-family: serif;
  }
  .logo-img{
    max-width: 50px;
    height: auto;
  }
  .small-letter{
    font-size: 0.8em;
  }
}
.logo:hover{
  cursor:pointer;
}
@media (width<=350px){
  .logo .logo-img{
    max-width: 40px;
    height: auto;
  }
}
@media (width<=315px){
  .logo{
    padding: 5px;
  }
}

