<div class=wrapper (click)="close()"></div>
<div class="window">
  <div class="text-1">Edit comment</div>
  <div class="input-container">
    <textarea class="textarea" placeholder="Write your comment..." name="user-comment"
      rows="10" [(ngModel)]="text">
    </textarea>
  </div>
  <div class="button-container">
    <button class="btn-3" (click)="editText()" >Submit</button>
  </div>


  <div class="cross-container" (click)="close()">
    <img src="assets/cross.png" alt="cross">
  </div>

</div>
