app-list-header{
  margin: 20px;
}
.book-container{
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
  align-items:center;
  margin-bottom: 20px;
}
.no-books{
  font-style: italic;
  color: grey;

  margin-top: 20px;
}