app-list-header{
  margin: 20px;
}
.book-container{
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
  align-items:center;
  margin-bottom: 20px;
}
.no-books{
  font-style: italic;
  color: grey;
  padding: 10px;
  margin-top: 20px;
}
.add-books{
  button{
    background-color: #182b5b;
    color:white;
    border: 0px;
    padding: 10px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 10px;
  }
  display: flex;
  justify-content: center;
  margin: 20px 20px 20px 20px;
}