app-list-header{
  margin: 20px;
}
app-book{
  border: 0.5px solid grey;
}
.book-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap:20px;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 20px;
}
.no-books{
  font-style: italic;
  color: grey;
  padding: 10px;
  margin-top: 20px;
}
.add-books{
  button{
    background-color: #182b5b;
    color:white;
    border: 0px;
    padding: 10px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 10px;
  }
  display: flex;
  justify-content: center;
  margin: 20px 20px 20px 20px;
}