<div class=wrapper (click)="visibilityService.showPasswordResetForm=false"></div>
<div class="window">
  <div class="text-1">Reset password</div>
    <form class="input-container" (ngSubmit)="onResetClick()" #resetForm="ngForm">
      <input placeholder="email" type="text" name="email" ngModel required email #femail="ngModel">
      <div><small *ngIf="femail.invalid && femail.touched">*Email is the required field</small></div>

      <input type="submit" value="Submit" class="btn-3" [disabled]="!resetForm.valid">
    </form>

  <div class="cross-container" (click)="visibilityService.showPasswordResetForm=false">
    <img src="assets/cross.png" alt="cross">
  </div>

</div>
