.wrapper{
  background-color: #0b193c;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  gap:20px;
}
.content{
  display: flex;
  align-items: center;
  position: relative;
  gap:20px;
  width: 100%;
  justify-content: space-around;
}





