<div class="reviews-container">
  <div class="label">Reviews from
    <span underlineD pointerD routerLink="/books/{{this.book?._id}}">
      {{book?.book_name}}
    </span> ,
     by {{book?.book_authors?.join(', ')}}</div>
  <div class="user-review" *ngIf="logInService.user && showCommentField">
    <textarea class="textarea" placeholder="Write your own review..." name="user-review"
    cols="50" rows="10" [(ngModel)]="rew"></textarea>
    <button opacityD pointerD (click)="postReview()">Submit</button>
  </div>
  <app-btn-add (visibilityChange)="changeVisibility($event)" [currentState]="showCommentField"></app-btn-add>

  <div *ngIf="!logInService.user">
    <div class="no-review">Only authorised users can leave reviews in this section. Sign in to continue!</div>
  </div>
  <app-review *ngFor="let r of reviews" [review]="r"></app-review>
</div>
