.container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items:center;
  position: relative;
  width: 100%;
  top: 10px;
}
.search-img{
  margin-top: 3px;
  content: url("/assets/search.png");
  max-width: 20px;
  height: auto;
}
.input{
  height:10px;
  font-size: 0.7em;
  font-style: italic;
  padding: 2px;
}

.button{
  background-color: #0b193c;
  border: 0px solid white;
  border-radius: 8px;
  padding: 0px 2px;
  margin-left: -10px
}
