<div class="quote-container">
  <div class="quote-text">
    <ng-container *ngFor="let t of quote?.quote_text">
      <div class="quote">{{t}}</div>
    </ng-container>
  </div>

  <div class="quote-character right">{{quote?.quote_character}}</div>
  <div class="quote-user right">by {{quote?.quote_user_login}}</div>
  <div class="quote-date right">{{quote?.quote_date}}</div>
  <div class="oper">
    <div (click)="deleteQuote()" class="delete" underlineD pointerD *ngIf="belongToUser">Delete</div>
  </div>

</div>

