.container{
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.item{
  width: 250px;
  //background-color: #0b193c;
  //color: white;
  color: #0b193c;
  padding: 5px;
  //font-size: 0.9em;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #0b193c;
}