<div class="wrapper" *ngIf="screenWidth>815">
  <div class="container">
    <a pointerD underlineD routerLink="/home" [routerLinkActive]="'active'">Home</a>
    <a pointerD underlineD routerLink="/bookList" [routerLinkActive]="'active'">Library</a>
    <a pointerD underlineD routerLink="/bookRecs" [routerLinkActive]="'active'">For me</a>
    <a pointerD underlineD routerLink="/profile" [routerLinkActive]="'active'">Profile</a>
  </div>
</div>
<app-menu-drop *ngIf="screenWidth<815 || screenWidth==815" [visible]="false"></app-menu-drop>
