.container{
  position: relative;
  width: 100%;
  top: 15px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: white;
  border-radius: 5px;
  padding: 6px;
  .item{
    font-size: 0.8em;
    padding: 3px;
  }
}
